.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  background-color: blueviolet;
}

@media (min-width: 992px) {
  .home {
    padding: 250px 0px 150px 0px;
    margin: 0px 40px;
  }
}
